@use 'base';
@use 'container';

body {
    .container {
        margin: base.$margin;

        display: flex;
        flex-direction: column;

        h1 {
            color: blue
        }

        @media screen and (max-width: 400px) {
            margin: base.$margin-sm;

            p {
                font-size: 1.5rem;
                color: red;
            }

        }

    }

}