$margin: 50px;
$margin-sm: 10px;

body {
    background-color: #eee;

    .container {
        margin: $margin;

        display: flex;
        flex-direction: column;

        h1 {
            color: blue
        }

        @media screen and (max-width: 400px) {
            margin: $margin-sm;

            p {
                font-size: 1.5rem;
                color: red;
            }

        }

    }

}